.question-form{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-radius: 20px;
    background-color: #E2D4F3;
}

.question-post-btn{
    float: right;
    color:#FFFFFF;
    background-color: #6C5CE7;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}