.profile-content {
  /* background-color: white; */
  background: url("../../img/background.jfif") no-repeat;
}

.user-profile {
  text-align: center;
  margin: 5px 50px;
  padding: 20px 100px;
  background-color: #ffffff;
  font-size: medium;
  font-weight: 600;
  border-radius: 10px;
}

.user-name {
  margin: 10px;
}

.logout {
  margin: 10px;
}

.logout-button {
  width: 10%;
  background-color: #6c5ce7;
}

.history-data {
  /* text-align: center; */
  margin: 5px 50px;
  padding: 20px 100px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  /* height: 200px; */
}
