.profile-content {
  /* background-color: white; */
  background: url('../../img/background.jfif') no-repeat;
}

.user-profile{
  text-align: center;
  margin: 5px 50px;
  padding: 20px 100px;
  background-color:#FFFFFF;
  font-size: medium;
  font-weight: 600;
  border-radius: 10px;
}

.user-name{
  margin: 10px;
}

.logout{
  margin: 10px;
}

.logout-button {
  width: 10%;
  background-color: #6C5CE7;
}

.posted-questions {
  text-align: center;
  margin: 5px 50px;
  padding: 20px 100px;
  background-color:#FFFFFF;
  font-size: medium;
  font-weight: 600;
  border-radius: 10px;
  height: 200px;
}

.past-votes {
  text-align: center;
  margin: 5px 50px;
  padding: 20px 100px;
  background-color:#FFFFFF;
  font-size: medium;
  font-weight: 600;
  border-radius: 10px;
  height: 200px;
}