/* .ant-menu-dark{
  background:  rgb(251, 249, 252) !important;
} */
.ant-layout{
  /* height: 100vh; */
}

.ant-layout-header{
  background-color: #ffffff !important;
}

.ant-menu-item a {
  color: rgb(0, 0, 0) !important;
}
.ant-menu-item a:hover {
  color: #6C5CE7 !important;
}

.ant-menu-item-selected {
  background-color: rgb(255, 255, 255) !important;
  color: #6C5CE7 !important;
}

.ant-menu-item-active {
  background-color: #fff !important;
  color: #6C5CE7 !important;
}

.site-layout-content {
  min-height: 280px;
  height: 100%;
  padding: 24px;
  background: #fff;
}

.logo {
  float: left;
  width: 20%;
  height: 100%;
  margin: 0 0 0 0;
  background: rgba(255, 255, 255);
  color: #2D3436;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
}
.ant-row-rtl .logo {
  float: right;
  margin: 0px 0 0px 24px;
}
  [data-theme="dark"] .site-layout-content {
    background: #141414;
  }

.layout{
  overflow-x:hidden;
}

.homepage-content{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#FFFFFF;
}

.homepage-title{
    text-align: center;
    top: 50px;

    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 90px;
    /* or 173% */

    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: -3px;

    color: rgba(108, 92, 231, 0.65);

    /* Text Shadow / White */

    text-shadow: 0px 4px 0px #FFFFFF;        
}

.homepage-cards{
  display: block;
  text-align: center;
}

.homepage-card{
  color:#FFFFFF;
  font-size: medium;
  font-weight: 600;
  border-radius: 10px;
}

.homepage-row{
  margin-top: 30px;
}
.homepage-col{
  text-align: center;
  left: 12%;
  color:#6C5CE7;
}

.homepage-btn{
  color:#FFFFFF;
  background-color: #6C5CE7;
  float: right;
  margin-right: 40px;
  margin-bottom: 20px;
}
